*{
    margin: 0;
    padding: 0;
  }
  .main{
    width: fit-content;
    height: fit-content;
    background-color: white;
  }
  body{
    margin-left: 0px;
  
  }
  .divhomemain{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100vw;
   
  }
  .divhome1{
    display: flex;
    margin-bottom: 0px;
  }
  .divhome2 li{
    margin-top: 30px;
    float: left;
    list-style: none;
  }

  .ulhometopt {
    margin-top: 10px;
    margin-left: 0px;
    padding-right: 20px;
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    height: fit-content;
  }
  
  .ulhometopt li {
    /* Optional: Define width or max-width to ensure items are responsive */
    flex: 1 1 auto; /* Allows items to grow and shrink as needed */
    min-width: 100px; /* Adjust as needed */
    box-sizing: border-box;
  }
  
  /* Media queries for different screen sizes */
  /* @media (max-width: 768px) {
    .ulhometop {
        flex-direction: column; 
    }
  
    .ulhometop li {
        width: 100%; 
    }
  } */
  .divhome2{
    /* margin-top: 10px; */
    margin-left: 0px;
    padding-left: 20px;
    align-items: center;  
  }
  .nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: space-between;
    padding: 0px;
    color: whitesmoke;
    z-index: 1000;
  
  }
  .introheaders{
    width:100vw;
    height: 55vh;
    background-image: url('../../../public/images/hm.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: changeimage 30s linear infinite ;
    animation-delay: 9s; */
  
  }
  /* @keyframes changeimage {
    0%{
      background-image: url('../../../public/images/hm.jpg');
    }
    25%{
      background-image: url('../../../public/images/1.jpeg');
    }
    75%{
      background-image: url('../../../public/images/2.jpg');
    }
    90%{
      background-image: url('../../../public/images/3.png');
    }
  } */
  .introheaders .cardds{
    padding: 20px;
    text-align: center;
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Container for stacking elements */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 70%; 
    height: 60%;
  }
  .ppps{
    
    font-size: calc(1rem + 1vw); 
    font-weight: 500 !important;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    /* opacity: 0; */
    position:absolute;
    /* transition: opacity 1s ease-in-out; */
    
    word-wrap: break-word; /* Ensure long words wrap to the next line */
    white-space: normal;
    width: 60vw;
    padding-top: 20px;
  }
  /* .hiddenn {
    opacity: 0;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  } */
  
  /* Animation settings for each element */
  /* .cardd .ppp {
    animation: fadeInOut 30s infinite;
    animation-timing-function: ease-in-out;
  } */
  
  /* Adjust delays so that elements appear one after another */
  /* .cardd .ppp:nth-child(1) {
    animation-delay: 0s;
  }
   */
  /* .cardd .ppp:nth-child(2) {
    animation-delay: 10s; 
  }
  
  .cardd .ppp:nth-child(3) {
    animation-delay: 20s; 
  } */
  
  .hed144{
    color: rgb(66, 66, 66);
    text-align: center;
  }
  .hed144 h2{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40vmin;
    padding-right: 40vmin;
    padding-top: 10vmin;
    padding-bottom: 4vmin;
    font-weight: 10 ;
  }
  .hed145{
    color: rgb(66, 66, 66);
    text-align: center;
  }
  .hed145 h2{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40vmin;
    padding-right: 40vmin;
    padding-top: 3vmin;
    padding-bottom: 10vmin;
    font-weight: 10 ;
  }
  .hed145 h1{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 40vmin;
    padding-right: 40vmin;
    padding-top: 10vmin;
    font-weight: 10 ;
  }
  .sec1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sec2{
    /* height: max-content; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .inner1, .inner2 {
    border-radius: 2vmin;
    /* position: relative; */
    /* position: absolute; */
    margin: 2%;
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    align-items: center;
    justify-content: center;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for height and opacity */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.179); */
    text-align: center;
    padding: 2vmin;
    overflow: hidden; 
    max-height: 60vh;
    width: 28%;
  
    overflow: visible; /* Ensure content isn’t hidden */
    max-height: none;
  }
  
  .inner1 {
    left: 25%;
  }
  
  .inner2 {
    right: 25%;
  }
  
  .inner1 h2, .inner2 h2 {
    padding-top: 3vmin;
    color: rgb(1, 63, 1);
    font-weight: 200;
    text-align: center;
    padding-bottom: 2vmin;
  }
  
  .inner1 p, .inner2 p {
    color: rgb(92, 92, 92);
    font-size: 2vh;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Fade in content */
  }
  
  .inner1.expanded {
    max-height: 80vmin; /* Set this high enough to accommodate the expanded content */
  }
  .inner2.expanded {
    max-height: 90vmin; 
  }
  
  .inner1.expanded p, .inner2.expanded p {
    opacity: 1; /* Show content when expanded */
    font-size: 2vh;
  }
  
  .btnn {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-weight: 100;
    color: rgb(2, 90, 21);
    cursor: pointer;
    padding: 1vmin;
  }
  
  .im {
    border-radius: 20%;
    width: 60%;
    height: auto;
  }
  
  .info{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .roww {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: center;
    align-items: flex-start;
    gap: 1%; /* Add spacing between items */
}
.colll1{
  width: 20vw; 
  height: auto;
  padding: 0.5vw;
  margin: 1%;
  text-align: start;
}
.colll2, .colll3 {
    width: 20vw; 
    height: auto;
    padding: 0.5vw;
    margin: 1%;
    text-align: start;
    
    
  }

  .colll1 p, .colll2 p {
    color: rgb(188, 186, 186);
    margin: 0; /* Reset margin to avoid unexpected spacing */
    padding: 0; /* Reset padding */
 
  }
  .colll3 p{
    color: rgb(188, 186, 186);
    margin: 0; /* Reset margin to avoid unexpected spacing */
    padding-top: 1vmin; /* Reset padding */
    text-align: center;
  }

  .roww h3{
  
    color: rgb(255, 255, 255);
  }


.linee{
  width: 100%;
  height: 0.1vmin;
  background-color: rgb(255, 255, 255);
  
  margin: 1em auto;
}
.copyright{
  width: 100%;
  justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}
.cprt1{
  color: rgb(112, 112, 112);
  padding-right: 1vmin;
}
.cprt{
  color:  rgb(255, 255, 255);
}









/* 

@media screen and (max-width: 767px)  {
  .divhomemain {
      flex-direction: column;
      align-items: center;
  }

  .ulhometopt {
    
    margin-top: 90vh;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .ulhometopt li {
    width: 100%; 
    text-align: center;
    margin-bottom: 10px;
  }
  .sec2{
    margin-top: 400px;
    background-color: whitesmoke;
    margin-top: 330px;
  }
  .inner1, .inner2 {
      width: 30%;

  }
  .inner1{
    left: 10%;
  }
  .inner2{
    right: 10%;
  }
  .im {
      height: 25vmin;
  }

  .ppps {
      font-size: 1.5rem;
  }
}
 */


/* For mobile devices (up to 767px) */
@media (max-width: 767px) {
  .divhomemain {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
  }

  .ulhometopt {
    margin-top: 40vh;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .ulhometopt li {
    width: 100%; /* Two items per row */
    text-align: center;
    margin-bottom: 10px;
  }
  .sec2{
    background-color: whitesmoke;
    margin-top: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height:auto;
    
  }
  .inner1, .inner2 {
      width: fit-content;
      position:unset;
      height: fit-content;
      padding-bottom: 5%;

  }
  .inner1.expanded {
    max-height: fit-content;
  }
  .inner2.expanded {
    max-height: fit-content; 
  }
  .inner1.expanded p{
    width: 40vw;
  }
  .inner2.expanded p{
    width: 40vw;
  }
  .im {
    border-radius: 50%;
    width: 100%;
    height: 100%; /* Let the height adjust according to the width */
    max-width: 21vmin; /* Optional: set a max width */
}

  .introheaders {
      height: 40vh;
  }

  .cardds {
      width: 90%;
  }

  .ppps {
      font-size: 1rem;
      width: 90%;
  }

  .im {
      height: 20vmin;
  }

  .roww {
      flex-direction: column;
      align-items: center;
  }

  .colll1, .colll2, .colll3 {
      width: 90%;
      text-align: center;
  }
  .colll1 p, .colll2 p, .colll3 p {
    width: 90%;
    text-align: start;
}
  .hed144 h2 {
      padding-left: 20vmin;
      padding-right: 20vmin;
      font-size: 20px;
  }
  .hed145 h2 {
    padding-left: 10vmin;
    padding-right: 10vmin;
    font-size: 20px;
}
.colll1 h3, .colll2 h3, .colll3 h3 {
  width: 90%;
  text-align: start;
}
}


@media (min-width: 768px) and (max-width: 1023px) {
  .divhomemain {
      flex-direction: column;
      align-items: center;
  }

  .ulhometopt {
    margin-top: 50vh;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .im {
    border-radius: 50%;
    width: 100%;
    height: auto; /* Let the height adjust according to the width */
    max-width: 30vmin; /* Optional: set a max width */
}
  .ulhometopt li {
    width: 100%; /* Two items per row */
    text-align: center;
    margin-bottom: 10px;
  }
  .sec2{
    margin-top: 50vh;
    background-color: whitesmoke;
    height: auto;
    
  }
  .inner1, .inner2 {
    width: 50vw; /* Allow width to adjust based on content */
    max-width: 100%; /* Make sure it doesn’t exceed the container width */
    overflow: visible; /* Ensure content isn’t hidden */
    max-height: none; /* Allow content to fully expand */
    align-items: center;
    justify-content: center;
  }
  .inner1.expanded, .inner2.expanded {
    max-height: none; /* Remove max-height to allow full expansion */
  }

  .inner1 p, .inner2 p {
    width: auto; /* Make sure paragraphs can expand to fit the content */
    white-space: normal; /* Allow text to wrap */
  }
  .inner1{
    left: 10%;
  }
  .inner2{
    right: 10%;
  }
  .im {
      height: 25vmin;
  }

  .ppps {
      font-size: 1.5rem;
  }


  .hed144 h2, .hed144 h1 {
    font-size: 20px; /* Adjust the font size if necessary */
    padding-left: 5vmin; /* Adjust padding to fit your design */
    padding-right: 5vmin; /* Adjust padding to fit your design */
  }
  .hed145 {
    width: auto; /* Adjust to auto or a percentage for responsiveness */
    padding-left: 5vmin; /* Adjust padding to fit your design */
    padding-right: 5vmin; /* Adjust padding to fit your design */
    text-align: center; /* Ensure text is centered */
  }

  .hed145 h2, .hed145 h1 {
    font-size: 20px; /* Adjust the font size if necessary */
    padding-left: 5vmin; /* Adjust padding to fit your design */
    padding-right: 5vmin; /* Adjust padding to fit your design */
  }
  .roww {
    flex-direction: column;
    align-items: center;
}

.colll1, .colll2, .colll3 {
    width: 90%;
    text-align: center;
}
.colll1 p, .colll2 p, .colll3 p {
  width: 90%;
  text-align: start;
}
}

@media (min-width: 1024px) and (max-width: 1223px) {

  /* Image Styling */
  .im {
    border-radius: 50%;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 30vmin; /* Control the maximum size for larger screens */
  }

  /* Paragraph Styling */
  .ppps {
    font-size: 1.5rem; /* Consistent font size across devices */
  }

  /* Header Styling */
  .hed144 h2, .hed144 h1 {
    font-size: 20px; /* Consistent font size */
    padding-left: 15vmin; /* Space on sides for better alignment */
    padding-right: 15vmin;
  }

  /* Responsive Text Container */
  .hed145 {
    width: auto; /* Allows it to adjust naturally */
    padding-left: 5vmin; /* Smaller padding for smaller screens */
    padding-right: 5vmin;
    text-align: center; /* Center-align text */
  }

  .hed145 h2, .hed145 h1 {
    font-size: 20px; /* Ensure readability */
    padding-left: 15vmin; /* Consistent padding for visual balance */
    padding-right: 15vmin;
  }

  /* Flexbox Row Configuration */
  .roww {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items in the column */
  }

  /* Columns Configuration */
  .colll1, .colll2, .colll3 {
    width: 90%; /* Almost full width to fit within container */
    text-align: center; /* Center text for consistency */
  }

  /* Inner Container Styling */
  .inner1, .inner2 {
    border-radius: 2vmin;
    /* position: relative; */
    /* position: absolute; */
    margin: 2%;
    background-color: rgba(255, 255, 255, 0);
    width: auto;
    align-items: center;
    justify-content: center;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for height and opacity */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.179); */
    text-align: center;
    padding: 2vmin;
    overflow: hidden; 
    max-height: 60vh;
    width: 28%;
  
    overflow: visible; /* Ensure content isn’t hidden */
    max-height: none;
  }

  /* Positioning Adjustments */
  .inner1 {
    left: 25%; /* Position it from the left */
  }

  .inner2 {
    right: 25%; /* Position it from the right */
  }

  /* Header Styling within Inner Containers */
  .inner1 h2, .inner2 h2 {
    padding-top: 3vmin; /* Top padding for spacing */
    color: rgb(1, 63, 1); /* Text color */
    font-weight: 200; /* Light font weight */
    text-align: center; /* Center-align headers */
    padding-bottom: 2vmin; /* Bottom padding for spacing */
  }

  /* Paragraph Styling within Inner Containers */
  .inner1 p, .inner2 p {
    color: rgb(92, 92, 92); /* Text color */
    font-size: 2vh; /* Font size relative to viewport height */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out; /* Fade-in transition */
  }

  /* Expanded Inner Containers */
  .inner1.expanded, .inner2.expanded {
    max-height: 90vmin; /* Allow enough height for content */
  }

  .inner1.expanded p, .inner2.expanded p {
    opacity: 1; /* Show paragraphs */
    font-size: 2vh; /* Maintain font size */
  }

  /* Button Styling */
  .btnn {
    background-color: rgb(255, 255, 255); /* Button background */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    font-weight: 100; /* Light font weight */
    color: rgb(2, 90, 21); /* Text color */
    cursor: pointer; /* Cursor pointer on hover */
    padding: 1vmin; /* Padding for size */
  }

}
